* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: #282828;
    color: #fff;
}

a {
    cursor: url('../assets/ponteiro-mouse.png') 2 2, pointer;
}

.page-topo {
    position: fixed;
    z-index: 200;
    right: 30px;
    bottom: 30px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #00ffc873;
    border-radius: 50px;
    transition: background-color .2s;
}

.page-topo:hover {
    background-color: #01927373;
}

.container-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-areas: "header" "content-1" "content-2" "content-3" "content-4" "content-5" "content-6" "footer";
}

.back-parallax {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    height: 100%;
    width: 100%;
}

.header {
    margin: auto;
    position: fixed;
    top: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    background-color: #00000033;
}

.navbar img {
    margin: 0 35px 0 35px;
}

.header .nav-items ul {
    list-style: none;
    display: flex;
}

.header .nav-items a:hover {
    border-radius: 4px;
    background: #00ffc873;
}

.nav-items a {
    text-decoration: none;
    padding: 4px;
    margin: 4px;
    color: #fff;
    transition: .3s;
}

.content-1 {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
}

.content-1 img {
    margin-top: 120px;
    height: 250px;
    width: 250px;
}

.content-2 {
    z-index: 200;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/arion-about-bkg.png');
    background-size: cover;
}

.content-2 .title {
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 20px;
}

.content-2 .subtitle {
    color: #00ffc6;
    font-size: 1.8rem;
    font-weight: 100;
    text-decoration: underline;
}

.content-2 article {
    padding: 40px;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.4rem;
}

.content-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 120px;
    height: 100vh;
    background-image: url('../assets/arion-coin-spces-bkg.png');
    background-size: cover;
}

.content-4 {
    height: 100vh;
    background-image: url('../assets/arion-coin-mini-roadmap-bkg.png');
    background-size: cover;
}

.content-5 {
    height: 100vh;
    background-image: url('../assets/arion-coin-social-media-bkg.png');
    background-size: cover;
}

.content-6 {
    height: 100vh;
    background-image: url('../assets/arion-coin-the-team-bkg.png');
    background-size: cover;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282828;
    color: #fff;
}

.footer span p {
    line-height: 1.8rem;
}

.footer .social-media {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-media img {
    margin: 0 20px 0 20px; 
    height: 100px;
    width: 100px;  
}

.navbar {
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: .3s;
}

.navbar a:hover:not(:nth-child(4n)), .dropdown:hover .dropbtn {
    border-radius: 4px;
    background-color: #00ffc873;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #282828ee;
    border-radius: 4px;
    min-width: 142px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #f9f9f9;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #dddddd;
    color: #282828;
}

.dropdown:hover .dropdown-content {
    display: block;
}

*::-webkit-scrollbar-track {
    background-color: rgba(128, 114, 114, .2);
}

*::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(120, 128, 114, 0.2);
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #00ffc6;
}

.main-faq {
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 140px 60px 40px 60px;
    /* background-color: #282828; */
    background-image: url('../assets/arion-faq-bkg.png');
    background-size: auto;
    background-position: center;
}

.main-faq h1, h2 {
    margin: 0 auto 15px auto;
}

.main-faq h2 {
    font-weight: 100;
    color: #00ffc6;
    text-decoration: underline;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eeeeee11;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    font-size: 1.1rem;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #00ffc873;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white transparent;
    color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .panel p {
      padding: 20px;
      line-height: 1.8rem;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 1rem;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

.animate-in {
    -webkit-animation: fadeIn .3s ease-in;
    animation: fadeIn .3s ease-in;
}

.animate-out {
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
